<html  xmlns:th="http://www.thymeleaf.org"  lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Test</title>

</head>
<body>
<header>

<div class="containerH" th:fragment="containerH" >
    <div class="underline">
        <img style="max-width: 150px;" class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Latin_letter_T.svg" alt="Oula">
        <h1>Exam Thymeleaf</h1>
    </div>
</div>



</header>

<main>

</main>
<footer>

    <p> Copyright : Exam Thymeleaf Aurélien </p>

</footer>



<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>